.profile {
  display: flex;
  flex: auto;
  flex-direction: column;
  margin: 69px auto 70px;
}
.profile__title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 117px;
  max-width: 410px;
}

.profile__form {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__input {
  border: none;
  text-align: end;
  font-size: 11px;
  line-height: normal;
}

.profile__input-wrap {
  width: 410px;
}

.profile__label {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.form__error_profile {
  grid-column: span 2;
  min-height: 16px;
  border-top: 1px solid #e8e8e8;
  width: 410px;
}

/* .form__error_profile:last-child {
  border-top: none;
} */

.profile__wrap {
  margin: 145px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.profile__button {
  border: none;
  font-size: 13px;
  line-height: normal;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.button_type_profile_disabled {
  cursor: none;
  background: #f8f8f8;
  color: #c2c2c2;
}

.profile__link {
  color: #ff4062;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 800px) {
  .profile {
    margin: 230px auto;
  }
  .profile__title {
    margin: 0 0 83px;
  }
  .profile__wrap {
    margin: 195px 0 0;
  }
}

@media screen and (max-width: 550px) {
  .profile {
    margin: 64px auto;
  }
  .profile__label {
    margin: 12px 0 0;
  }
  .profile__title {
    margin: 0 0 68px;
  }
  .profile__wrap {
    margin: 365px 0 0;
  }
  .profile__input-wrap, .form__error_profile{
    width: 260px;
  }
  .profile__button,
  .profile__link {
    font-size: 12px;
  }
}
