.project {
  display: flex;
}

.project__wrap {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.project__item {
  margin-right: 30px;
}

.project__title {
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #000;
  margin: 110px 70px 0;
  padding-bottom: 23px;
}

.project__list {
  display: flex;
  margin: 70px 70px 0;
  gap: 77px;
}

.project__subtitle {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.8px;
  align-items: center;
  padding-bottom: 26px;
  max-width: 550px;
}

.project__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.project__time {
  display: grid;
  grid-template-columns: 228px 1fr;
  grid-template-rows: 2 1fr;
  margin: 110px 70px;

}

.project__back {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 9px 14px;
  text-align: center;
}

.project__front {
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 9px 14px;
  text-align: center;
}

.project__back-text  {
  color: #a0a0a0;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px; /* 121.429% */
  margin: 15px 0 0;
}

.project__front-text {
  color: #a0a0a0;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px; /* 121.429% */
  margin: 15px 0 0;
}

@media screen and (max-width: 880px){ 
  .project__title {
    margin: 90px 50px 0;
  }
  .project__list {
    margin: 70px 50px 0;
    gap: 55px;
  }
  .project__item {
    margin-right: 0;
  }
  .project__subtitle {
    padding-bottom: 22px;
  }
  .project__time {
    grid-template-columns: 140px 1fr;
    margin: 93px 50px;
  }
  .project__description {
    font-size: 12px;
  }
  .project__back-text {
    font-weight: 400;
  }
  .project_front-text {
    font-weight: 400;
  }
}

@media screen and (max-width: 750px){ 
  .project__description {
    font-size: 12px;
  }
  }


